<style>
    .intro-video {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    height: 100%;
    transition: all .3s ease-out;

    &.intro-hidden {
        opacity: 0;
        pointer-events: none;
    }


    & > div,
    .iv-inner,
    .iv-video,
    video {
        width: 100%;
        height: 100%;
    }

    .iv-inner::after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 10;
        pointer-events: none;
        background: #000;
        transition: all 1s ease-in-out;
        opacity: 0;
    }

    video {
        object-fit: cover;
    }

    .iv-inner {
        position: relative;
    }

    .iv-btn {
        border: none;
        outline: none;
        background: transparent;
        outline: none;
        display: block;
        position: absolute;
        bottom: 14%;
        right: 7%;
        z-index: 5; 
        font-size: 21px;
        letter-spacing: .3em;
        color: #fff;
        text-transform: uppercase;
        transition: var(--site-transition);

        &:hover {
            color: var(--primary-color);
        }
    }

    &.intro-video-done {
        pointer-events: none;

        .iv-inner::after {
            opacity: 1;
        }
    }
}
</style>



 <!-- intro video -->
<div class="intro-video intro-hidden">
    <?php if ( !function_exists('dynamic_sidebar') || !dynamic_sidebar("Intro Video") ) : ?>
        <div class="iv-inner">
            <div class="iv-video">
                <video class="iv-video-elem" preload="none" poster="[stylesheet_directory]/images/intro-placeholder.jpg" autoplay muted>
                    <source src="/2020realestate.net/wp-content/themes/2020realestate.net/videos/intro.mp4" type="video/mp4" />
                </video>
            </div>
            <button type="button" class="iv-btn">Skip Intro</button>
        </div>    
    <?php endif ?>
</div>
<!-- end intro video -->


<script>
    if(jQuery('body').hasClass('home')) {
				

        var videoWrapper = jQuery('.intro-video');
        var mainVideo    = videoWrapper.find('video');
        var videoDuration;
        var durationOffset = 2000;
        var skipBtn = jQuery('.iv-btn');
        var isPlayed  = sessionStorage.getItem("intro-played");
        
        if(!isPlayed) {

            videoWrapper.removeClass('intro-hidden');

            jQuery('body').addClass('intro-video-isplaying');
            
            mainVideo.on('loadeddata', function() {

                if(this.readyState == 4) { // set duration when the video is ready
                    videoDuration = parseInt(mainVideo[0].duration) * 1000;
                    
                    setTimeout(function() {
                        
                        removeIntro();

                    }, videoDuration - durationOffset);
                    
                }

            });

            skipBtn.on('click', function() {

                removeIntro();

            });

            // function for removing the intro
            function removeIntro() {
                jQuery('body').removeClass('intro-video-isplaying');
                        
                videoWrapper.addClass('intro-video-done');

                videoWrapper.animate({
                    opacity: 0
                }, 1000);

                sessionStorage.setItem('intro-played', true);
            }

        }
        

    }
</script>

    


